@font-face {
  font-family: "realm";
  src: url(../assets/fonts/real-medium.woff2) format("woff2"),
       url(../assets/fonts/real-medium.woff2) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "realm";

  src: url(../assets/fonts/real-demi.woff2) format("woff2"),
       url(../assets/fonts/real-demi.woff2) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "realb";

  src: url(../assets/fonts/real-bold.woff2) format("woff2"),
       url(../assets/fonts/real-bold.woff2) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "neu-light";
  src: url(../assets/fonts/neu-light.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "neu-regular";
  src: url(../assets/fonts/neu-regular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "suise-regular";
  src: url(../assets/fonts/suise-regular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

$colorsGuide: (
  black: #000000,
  secondary-color: #f5f5f5,
  gray-90: #171717,
  gray-80: #2e2e2e,
  gray-70: #464646,
  gray-60: #5d5d5d,
  gray-50: #757575,
  gray-40: #909090,
  gray-30: #acacac,
  gray-20: #c7c7c7,
  gray-10: #e3e3e3,
  makumba: #999999,
  white-smoke: #f5f5f5,
  White: #ffffff,
  link: #c7c7c7,
  linkHover: #999,
  primary: #000,
  color-1: #e6f5ff,
  color-2: #b5e6c8,
  color-3: #fef7c1,
  color-4: #fadfc1,
  color-5: #fcd8cd,
  error: #fd675e,
  sales: #fa3b2c,
  Sales-Variant: #e43628,
  error-primary: #d0021b,
  primary-guide: #121f2a,
  secondary-guide: #6759bb,
  ternary-guide: #6759bb,
);


$font-family-primary: "neu-regular", sans-serif;

$font-family-light: "neu-light", sans-serif;
$font-family-regular: "neu-regular", sans-serif;
$font-family-medium: "neu-regular", sans-serif;
$font-family-bold: "realb", sans-serif;

/** font-family: 'Playfair Display', serif; **/

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 900;

$font-family-secondary: "Gilda Display", serif;

$font-weight-secondary-light: 200;
$font-weight-secondary-regular: 400;
$font-weight-secondary-medium: 700;
$font-weight-secondary-bold: 900;

$primary-guide: #121f2a;
$secondary-guide: #db2753;

$error-primary: #fd675e;
$link: rgb(207, 236, 240);
$linkHover: #999;
$black: #111111;
$padding-global: 8px;

$container-3: 1100px;

.error-text {
  position: absolute;
  color: $error-primary;
}

* {
  box-sizing: border-box;
}

$headers: /* name:mobile,768,992,1280,line-height,font */ 
( h1: ( 32px, 32px, 32px, 40px, 1.2, "bold", ),
  h2: ( 24px, 24px, 24px, 32px, 1.2, "bold", ),
  h3: ( 18px, 18px, 18px, 24px, 1.4, "bold", ), 
  h4: ( 16px, 16px, 16px, 18px, 1.2, "bold", ), 
  h5: ( 14px, 14px, 14px, 16px, 1.2, "bold", ), 
  h6: ( 48px, 48px, 48px, 48px, 1.2, "bold", ),
  h26: ( 48px, 48px, 58px, 64px, 1, "bold", ), 
  h7: ( 10px, 10px, 10px, 12px, 1.2, "light", ), 
  h8: ( 8px, 8px, 8px, 8px, 1.2, "light", ), 
  second-h1: ( 32px, 32px, 32px, 40px, 1.2, "2-regular", ), 
  second-h2: ( 24px, 24px, 24px, 32px, 1.2, "2-regular", ), 
  second-h3: ( 18px, 18px, 18px, 24px, 1.2, "2-regular", ), 
  second-h4: ( 16px, 16px, 16px, 18px, 1.2, "2-regular", ), 
  second-h5: ( 14px, 14px, 14px, 16px, 1.2, "2-regular", ), 
  second-h6: ( 12px, 12px, 12px, 14px, 1.2, "2-regular", ), 
  second-h7: ( 10px, 10px, 10px, 12px, 1.2, "2-regular", ), 
  second-h8: ( 8px, 8px, 8px, 10px, 1.2, "2-regular", ),
  p1: ( 16px, 16px, 18px, 18px, 1.5, "regular", ), 
  p2: ( 18px, 16px, 16px, 18px, 1.3, "regular", ), 
  p3: ( 18px, 18px, 20px, 24px, 1.3, "regular", ), 
  p4: ( 14px, 14px, 16px, 18px, 1.4, "medium", ));

/* TYPES FIJOS */
$headersFixers: (
  /*name :  fontsize, lineheight */ 12: (12px, 1.5),
  14: (14px, 1.5),
  16: (16px, 1.5),
  18: (18px, 1.5),
  20: (20px, 1.5),
  24: (24px, 1.5)
);

$headersFluids: (
  /*name :  fontsize, lineheight */ 12: (12px, 12px, 1.2),
  6: (14px, 12px, 1.2),
  5: (20px, 20px, 1.5),
  4: (16px, 26px, 1.2),
  3: (22px, 28px, 1.2),
  2: (26px, 60px, 1.1),
  1: (30px, 90px, 0.9),
  0: (30px, 64px, 1)
);

$mg: "margin";
$margin: /* name : margen total mobile, tablet, desktop, longdesktop*/
(
m-8: (8px, 8px, 8px, 8px),
m-16: (16px, 16px, 16px, 16px),
m-24: (24px, 24px, 24px, 24px),
m-32: (32px, 32px, 32px, 32px),
m-40: (40px, 40px, 40px, 40px),
m-48: (48px, 48px, 48px, 48px)
);
$mx: "margin"; 
$margin-x: /* name : margen bottom   */
(
mx-8:  (0 8px, 0 8px, 0 8px, 0 8px),
mx-16: (0 16px, 0 16px, 0 16px, 0 16px),
mx-24: (0 24px, 0 24px, 0 24px, 0 24px),
mx-32: (0 10px, 0 32px, 0 32px, 0 32px),
mx-40: (0 10px, 0 40px, 0 40px, 0 40px),
mx-48: (0 48px, 0 48px, 0 48px, 0 48px)
);
$my: "margin"; 
$margin-y: /* name : margen bottom*/
(
my-8: (8px 0, 8px 0, 8px 0, 8px 0),
my-16: (16px 0, 16px 0, 16px 0, 16px 0),
my-24: (24px 0, 24px 0, 24px 0, 24px 0),
my-32: (32px 0, 32px 0, 32px 0, 32px 0),
my-48: (20px 0, 48px 0, 48px 0, 48px 0)
);
$mt: "margin-top";
$margin-top: /* name : margen bottom*/
(
mt-8:  (8px, 8px, 8px, 8px),
mt-16: (16px, 16px, 16px, 16px),
mt-24: (24px, 24px, 24px, 24px),
mt-32: (32px, 32px, 32px, 32px),
mt-40: (42px, 42px, 42px, 42px),
mt-48: (48px, 48px, 48px, 48px)
);
$mr: "margin-right";
$margin-right: /* name : margen bottom*/
(
mr-8:  (8px, 8px, 8px, 8px),
mr-16: (16px, 16px, 16px, 16px),
mr-24: (24px, 24px, 24px, 24px),
mr-32: (32px, 32px, 32px, 32px),
mr-40: (42px, 42px, 42px, 42px),
mr-48: (48px, 48px, 48px, 48px)
);
$mb: "margin-bottom";
$margin-bottom: /* name : margen bottom*/
(
mb-8: (8px, 8px, 8px, 8px),
mb-16: (16px, 16px, 16px, 16px),
mb-24: (24px, 24px, 24px, 24px),
mb-32: (32px, 32px, 32px, 32px),
mb-40: (40px, 40px, 40px, 40px),
mb-48: (48px, 48px, 48px, 48px) ,
mb-100: (100px, 100px, 100px, 100px) 
);
$ml: "margin-left";
$margin-left: /* name : margen bottom*/
(
ml-8: (8px, 8px, 8px, 8px),
ml-16: (16px, 16px, 16px, 16px),
ml-24: (24px, 24px, 24px, 24px),
ml-32: (32px, 32px, 32px, 32px),
ml-40: (42px, 42px, 42px, 42px),
ml-48: (48px, 48px, 48px, 48px)
);
$p: "padding"; 
$padding: /* name : padding  top*/
(
p-body: (16px, 16px, 40px, 40px),
p-4: (4px, 4px, 4px, 4px),
p-8: (8px, 8px, 8px, 8px), 
p-16: (16px, 16px, 16px, 16px),
p-20: (20px, 20px, 20px, 20px),
p-30: (10px, 30px, 30px, 30px),
p-40: (40px, 40px, 40px, 40px),
p-48: (20px, 50px, 50px, 50px)
);
$py: "padding";
$padding-y: /* name : padding  arriba y abajo*/
(
py-8: (8px 0, 8px 0, 8px 0, 8px 0),  
py-12: (12px 0, 12px 0, 12px 0, 12px 0),  
py-16: (16px 0, 16px 0, 16px 0, 16px 0),  
py-24: (10px 0, 24px 0, 24px 0, 24px 0),
py-32: (32px 0, 32px 0, 32px 0, 32px 0),
py-48: (20px 0, 30px 0, 40px 0, 48px 0),
py-60: (24px 16px,24px 16px, 24px 16px, 60px 60px)
);
$px: "padding";
$padding-x: /* name : padding  arriba y abajo*/
(
px-8: (0 8px, 0 8px, 0 8px, 0 8px),
px-16: (0 16px, 0 16px, 0 16px, 0 16px),
px-24: (0 24px, 0 24px, 0 24px, 0 24px),
px-32: (0 32px, 0 32px, 0 32px, 0 32px),
px-40: (0 40px, 0 40px, 0 40px, 0 40px),
px-48: (0 48px, 0 48px, 0 48px, 0 48px)
);
$pt: "padding-top";
$padding-top: /* name : padding  top*/
(
pt-8:  (8px, 8px, 8px, 8px),
pt-16: (16px, 16px, 16px, 16px),
pt-24: (24px, 24px, 24px, 24px),
pt-32: (32px, 32px, 32px, 32px),
pt-40: (40px, 40px, 40px, 40px),
pt-48: (20px, 48px, 48px, 48px),
pt-64: (64px, 64px, 64px, 64px),
pt-md: (64px, 64px, 128px, 128px),
pt-section: (64px, 64px, 80px, 80px),
pt-big: (64px, 80px, 100px, 100px)
);
$pb: "padding-bottom";
$padding-bottom: /* name : padding  bottom*/
(
pb-8: (8px, 8px, 8px, 8px),
pb-16: (20px, 20px, 20px, 20px),
pb-24: (24px, 24px, 24px, 24px),
pb-32: (32px, 32px, 32px, 32px),
pb-40: (40px, 40px, 40px, 40px),
pb-48: (48px, 48px, 48px, 48px),
pb-64: (64px, 64px, 64px, 64px),
pb-md: (64px, 64px, 128px, 128px),
pb-section: (64px, 64px, 80px, 80px),
pb-big: (64px, 80px, 100px, 100px)
);
$pl: "padding-left";
$padding-left: /* name : padding  bottom*/
(
pl-body: (16px, 16px, 40px, 40px),
pl-8: (8px, 8px, 8px, 8px),
pl-16: (16px, 16px, 16px, 16px),
pl-24: (24px, 24px, 24px, 24px),
pl-32: (32px, 32px, 32px, 32px),
pl-40: (16px, 42px, 42px, 42px),
pl-48: (48px, 48px, 48px, 48px)
);
$pr: "padding-right";
$padding-right: /* name : padding  bottom*/
(
pr-body: (16px, 16px, 40px, 40px),
pr-8: (8px, 8px, 8px, 8px),
pr-16: (16px, 16px, 16px, 16px),
pr-24: (24px, 24px, 24px, 24px),
pr-32: (32px, 32px, 32px, 32px),
pr-40: (16px, 42px, 42px, 42px),
pr-48: (48px, 48px, 48px, 48px)
);

.bar-left {
  position: relative;
}
.bar-left:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 2px;
  width: 100px;
  background-color: $secondary;
}

.bar-right {
  text-align: right;
  position: relative;
  padding-right: 20px;
}
.bar-right:before {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  height: calc(100% - 16px);
  width: 10px;
  background-color: $secondary;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center center;
}
.ov-hidden {
  overflow: hidden;
}

.h26 {
  font-weight: 100 !important;
}
em {
  color: $secondary;
  font-style: normal;
}

.swiper-container2 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
