@import "../0_variables.scss";

.block-price {
  text-align: left;
  box-sizing: border-box;
  position: relative;
  padding: 60px 4px 4px 4px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 40px auto;
  border-radius:  $btn-radius;
  transition: all .3s ease;

  &:hover{
    z-index: 100;
    background-color: white;
    cursor: pointer;

    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.2);
  }

  @media (min-width: $break-md) {
    width: 25%;
  }
  .block-price-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: $primary;
  }
  ul {
 
    margin-bottom: 40px;
  }
  h2 {
    span {
      font-size: 12px;
    }
  }
  .discount {
    position: absolute;
    top: 16px;
    left: -11px;
    background-color: $secondary;
    font-size: 14px;
    color: #fff;
    padding: 8px;

    &:after{
      content: '';
      position: absolute;
      top: 34px;
      left: 0;
      width: 0;
      height: 0;
      border-top: 12px solid #8d0023;
      border-left: 11px solid transparent;
    }
  }

.btn-primary{

  bottom: 8px;

}


}

.recommended-product{
  z-index: 100;
  background-color: white;

  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.2);
}

.box1 {
 


  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 
  0px 6px 6px rgba(0, 0, 0, 0.1),
  0px 8px 8px rgba(0, 0, 0, 0.05), 
  0px 10px 15px rgba(0, 0, 0, 0.03),
  0px 30px 30px rgba(0, 0, 0, 0.15),
  0px 70px 60px rgba(0, 0, 0, 0.15);
}

//  box-shadow: 5px 5px 15px #e3e3e3, -5px -5px 15px #ffffff;