@import "../0_variables.scss";


.block-a-2 {
    margin-bottom: 16px;
    border: 1px solid $hr-light;
    position: relative;
    overflow: hidden;
    background-color: $bg-box;
    .block-a-2-num {
      top: 0;
      left: 0;
      position: absolute;
      @include font-bold;
      font-size: 100px;
      opacity: 0.05;
      pointer-events: none;
    }
    .block-a-2-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .block-a-2-inner {
      position: relative;
      padding: 40px 40px 48px;
    }
    .block-a-2-img {}
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 115%;
    }
  }